/* ############### PROMPT ############### */

.prompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    z-index: 500;
}

.promptContainer {
    max-height: 400px;
    width: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-shadow: 0 2px 20px rgba(0, 0, 0, 1);
}

.promptHead {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100%;
    color: white;
    background-color: rgba(127, 7, 8, 1);
    border-radius: 7px 7px 0px 0px;
}

.promptHead p {
    text-align: center;
}

.promptBody {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    max-height: 330px;
    width: 100%;
    color: black;
    background-color: white;
    border-bottom: rgba(127, 7, 8, 1) solid 5px;
    border-radius: 0px 0px 7px 7px;
}

.promptBody p {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 85%;
    overflow-wrap: break-word;
    text-wrap: normal;
}

.promptButton {
    font-size: 20px;
    height: 40px;
    width: 100px;
    background-color: red;
    align-self: center;
}
  
.hidePrompt {
    display: none;
}
